// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;
$text: #000;
$darkgrey:	#222326;
$lightgrey: #f4f5f6;
$grey:		#ccc;

// Fonts
$primary-font: 'Roboto', sans-serif;

// Spacing

$big:	40px 0;
$med: 	20px 0;
$sml:	10px 0;

// Spacing
$smlspace: 20px 0;
$midspace: 40px 0;
$bigspace: 60px 0;
$hugespace: 100px 0;

// Transitions

$ease: all ease-in-out 0.3s;
